#faq-collection {
  background: url("../assets/images/faq-background.png");
    background-repeat: no-repeat;
    background-position: center center ;
  background-size: contain;

    width: 100%;
    height: 600px;
  /*border: 2px solid black;
    margin: 10px;*/
}

/* 자주 묻는 질문(FAQ) */
#faq-title {

    font-size: 3em;
    font-weight: bold;
    color: #f9be28;
    justify-content: center;
    text-align: center;
    text-decoration-color: #f9be28;
  height: 100%;
  width: 100%;
padding-bottom: 40px;

    
  }

#center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

.faq-box {
 
    background-color:transparent;
    color:inherit;
    padding:10px;
    width: 80%;
    left: 50%;
    transform: translate(13%);
    z-index:1;
  }
  
  .faq-box__question {

  padding: 10px;
  width: 100%;
  height: 80px;
  color: #000;

  line-height: 60px; 
  align-items: center;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 10%);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  }
  
  .faq-box__question::after {
  content:url("..assets/icon/faq-background.png");

    float:right;
  }
  
  .faq-box > ul > li {
    padding:10px;
  }
  
  .faq-box > ul > li.hover > .faq-box__question::after {
     content:rotate(180deg);
    transition: .4s ease-in-out;
  }
  
  .faq-box__answer {
    display:none;
    background-color:white;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 10%);
  border: 0;
    border-radius:10px;
    padding:50px;
    
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    max-width: 700px;
    width: 100%;
    list-style: none;
  }
  
  footer {
  z-index: 5;
}
