
body {
  background: url(../assets/images/background-circle.svg) no-repeat;
  background-size: contain;
  background-position: left bottom;
  background-color: var(--gray30);
}

.main-content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

/* 흰색 박스 */
#reset-box {
  width: 400px;
  height: 560px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 6px 20px rgba(148, 163, 184, 0.4);

  padding: 35px 40px;
  margin-right: 10%;
}

/* 제목 스타일 */
#reset-title {
  font-size: 30px;
  color: var(--primary);
  text-align: center;
  margin: 20px 0;
}

/* 인풋창 */
input {
  width: 100%;
  border: none;
  font-size: 15px;
  color: var(--dark);
  text-indent: 10px;
  letter-spacing: 1px;
  padding-bottom: 3px;
  border-bottom: 1.5px solid var(--gray500);
  outline: none;

  font-family: "Pretendard-Regular";
}

input:focus {
  border-bottom: 1.5px solid var(--primary);
}

#idMessage {
	font-size: 14px;
	padding-left: 8px;
	margin: 2px 0;
	color: var(--dark);
}
.send-Pw {
  width: 100%;
  height: 50px;
  margin: 60px 0 60px 0;
}

.reset-text {
  padding: 20px 0;
}
.reset-text > p {
  color: var(--dark);
  text-align: center;
}


