/* 메인화면 */
.main-content-area {
    width: calc(100% - var(--nav-width));
    margin-left: var(--nav-width);
}

.main-content-area::-webkit-scrollbar {
    width: 8px;
}
.main-content-area::-webkit-scrollbar-track {
    background-color: transparent;
}
.main-content-area::-webkit-scrollbar-thumb {
    background-color: var(--gray250);
    border-radius: 30px;
}

.quiz-result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-result {
    margin-top: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-value {
    width: 30%;
    color: var(--dark);

    margin-top: 30px;

    display: flex;
    justify-content: space-around;
}

.result-line {
    border: var(--line);
    width: 59%;
    margin: auto;

    margin-top: 30px;
    margin-bottom: 30px;
}

.result-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrong-list-area {
    width: 60%;
}

.worng-list-title {
    font-size: 24px;
    color: var(--dark);

    text-align: center;
}

.wrong-list {
    width: 100%;

    margin-bottom: 60px;
}

.content-main-text {
    cursor: pointer;
}

/* 다시하기 버튼 */
.rotate-a {
    margin-bottom: 30px;
}

.rotate-a > a {
    text-decoration: none;

    color: var(--dark);

    font-weight: bold;
    font-size: 18px;
}

.rotate-a > a:hover {
    color: var(--gray500);

    transition: all ease-in-out 0.2s;
}

/* 단어 조회 모달 */

#modal {
    width: calc(100% - (var(--nav-width)));
    height: calc(100% - var(--header-height));

    position: absolute;
    top: var(--header-height);
    left: calc(var(--nav-width));

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10000;

    display: none;
}

#modal .bg {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);
}

/* 원형프로그레스바 */
.wrap {
    margin-bottom: 50px;
}

.progress {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #f5f6f7;
}
.progress div {
    position: absolute;
    left: 100px;
    top: 0px;
    display: none;
    width: 2px;
    height: 100px;
    background: var(--primary);
    transform-origin: 0px 100px;
    -webkit-transform-origin: 0px 100px;
    -moz-transform-origin: 0px 100px;
    -ms-transform-origin: 0px 100px;
}

.progress_value {
    transform: lotate(0deg);
    -webkit-transform: lotate(0deg);
    -moz-transform: lotate(0deg);
    -ms-transform: lotate(0deg);
}

.progress-result {
    position: absolute;
    z-index: 10;
    left: 10px;
    top: 10px;
    width: 180px;
    height: 180px;
    line-height: 140px;
    text-align: center;
    background: var(--secondary);
    border-radius: 50%;
    border: 20px solid var(--gray30);
    font-size: 32px;
    font-weight: bold;
    color: var(--dark);
}
