/* TODO: 배경화면 색 조절함 */
body {
  background-image: url("../assets/images/login-polygon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--gray30);
}

/* 회원가입 상자 가운데 정렬 */
.main-content-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 회원가입 상자 */
#terms-box {
  width: 450px;
  height: 630px;
  background-color: white;
  border-radius: 30px;
  box-shadow: var(--login-shadow);

  padding: 35px 35px;
}

/* 제목 */
#terms-title {
  font-size: 30px;
  color: var(--primary);
  text-align: center;
  margin: 20px 0;
}

#terms-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#line {
  border: 1px solid var(--primary);
  margin: 15px 0;
}

/* 체크박스 */
.terms-derc {
  display: inline-block;
  margin: 0 0 10px 0;
}

/*TODO: textarea 내의 글씨체 변경*/
textarea {
  font-family: "Pretendard-Regular";
  color: var(--dark);
  width: 100%;
  height: 130px;
  border: 1px solid var(--gray500);

  resize: none;
  border: 1px solid var(--gray500);
  border-radius: 4px;
  padding: 10px;
}
textarea:focus {
  outline: none;
}

/* 체크박스 스타일 */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  padding-right: 5px;
}

input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1.5px solid var(--gray500);
  border-radius: 3px;
  vertical-align: middle;
}

input[type="checkbox"]:checked + label:before {
  content: "";
  background-color: var(--primary);
  border-color: var(--primary);
  background-image: url("../assets/images/checkbox.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

/* 버튼 그룹 */

#input-group {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* 취소 버튼 */
#btn-reset {
  width: 100px;
  height: 35px;
  margin-right: 40px;

  text-align: center;
  line-height: 35px;

  font-size: 16px;
  font-weight: 700;

  border: none;
  border-radius: 5px;

  color: var(--white);
  background-color: #858585;

  transition: all ease-in-out 0.15s;

  cursor: pointer;
}

#btn-reset:hover {
  opacity: 0.7;
}
