/* 눈누 web-font : pretendard */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* font-icon */
@font-face {
  font-family: "devoca";
  src: url("src/main/webapp/resources/assets/fonts/devoca.eot?");
  src: url("src/main/webapp/resources/assets/fonts/devoca.eot?#iefix") format("embedded-opentype"),
    url("src/main/webapp/resources/assets/fonts/devoca.ttf?") format("truetype"),
    url("src/main/webapp/resources/assets/fonts/devoca.woff?") format("woff"),
    url("src/main/webapp/resources/assets/fonts/devoca.svg?#devoca") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "devoca" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-camera .path1:before {
  content: "\e900";
  color: rgb(131, 142, 158);
}
.ic-camera .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ic-camera-cc:before {
  content: "\e902";
}
.ic-check:before {
  content: "\e903";
  color: #cdd2d8;
}
.ic-check-active:before {
  content: "\e904";
  color: #525050;
}
.ic-check-cc:before {
  content: "\e905";
}
.ic-chevron:before {
  content: "\e906";
  color: #838e9e;
}
.ic-chevron-cc:before {
  content: "\e907";
}
.ic-close:before {
  content: "\e908";
  color: #525050;
}
.ic-close-cc:before {
  content: "\e909";
}
.ic-code:before {
  content: "\e90a";
  color: #525050;
}
.ic-code-cc:before {
  content: "\e90b";
}
.ic-hive-active:before {
  content: "\e90c";
  color: #f9be28;
}
.ic-hive-cc:before {
  content: "\e90d";
}
.ic-hive-default:before {
  content: "\e90e";
  color: #8f8f8f;
}
.ic-kakao:before {
  content: "\e90f";
}
.ic-kakao-cc:before {
  content: "\e910";
}
.ic-lock:before {
  content: "\e911";
  color: #838e9e;
}
.ic-lock-active:before {
  content: "\e912";
  color: #ffc759;
}
.ic-lock-cc:before {
  content: "\e913";
}
.ic-lock-wrong:before {
  content: "\e914";
  color: #ff3939;
}
.ic-login-circle-active:before {
  content: "\e915";
  color: #f9be28;
}
.ic-login-circle-cc:before {
  content: "\e916";
}
.ic-login-circle-default:before {
  content: "\e917";
  color: #b7b7b7;
}
.ic-login-circle-wrong:before {
  content: "\e918";
  color: #ff6464;
}
.ic-logout:before {
  content: "\e919";
  color: #838e9e;
}
.ic-logout-cc:before {
  content: "\e91a";
}
.ic-menu-dot:before {
  content: "\e91b";
  color: #525050;
}
.ic-menu-dot-cc:before {
  content: "\e91c";
}
.ic-note:before {
  content: "\e91d";
  color: #525050;
}
.ic-note-cc:before {
  content: "\e91e";
}
.ic-order:before {
  content: "\e91f";
  color: #525050;
}
.ic-order-cc:before {
  content: "\e920";
}
.ic-pencil:before {
  content: "\e921";
  color: #525050;
}
.ic-pencil-cc:before {
  content: "\e922";
}
.ic-plus:before {
  content: "\e923";
  color: #525050;
}
.ic-plus-cc:before {
  content: "\e924";
}
.ic-profile:before {
  content: "\e925";
  color: #838e9e;
}
.ic-profile-cc:before {
  content: "\e926";
}
.ic-quiz:before {
  content: "\e927";
  color: #838e9e;
}
.ic-quiz-cc:before {
  content: "\e928";
}
.ic-reset:before {
  content: "\e929";
  color: #525050;
}
.ic-reset-cc:before {
  content: "\e92a";
}
.ic-search:before {
  content: "\e92b";
  color: #cdd2d8;
}
.ic-search-cc:before {
  content: "\e92c";
}
.ic-shared:before {
  content: "\e92d";
  color: #838e9e;
}
.ic-shared-cc:before {
  content: "\e92e";
}
.ic-star:before {
  content: "\e92f";
  color: #838e9e;
}
.ic-star-active:before {
  content: "\e930";
  color: #ffc759;
}
.ic-star-cc:before {
  content: "\e931";
}
.ic-triangle-down:before {
  content: "\e932";
  color: #525050;
}
.ic-triangle-down-cc:before {
  content: "\e933";
}
.ic-warning:before {
  content: "\e934";
  color: #ec131e;
}
.ic-warning-cc:before {
  content: "\e935";
}
.ic-word:before {
  content: "\e936";
  color: #838e9e;
}
.ic-word-cc:before {
  content: "\e937";
}
