.btn-primary-line {
  width: 100px;
  height: 35px;
  padding: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 700;

  border: 1px solid var(--primary);
  border-radius: 5px;

  color: var(--primary);
  background-color: var(--white);

  cursor: pointer;
}

.btn-primary-fill {
  width: 100px;
  height: 35px;

  font-size: 16px;
  font-weight: 700;

  border-radius: 5px;

  color: var(--white);
  background-color: var(--primary);

  transition: all ease-in-out 0.15s;

  cursor: pointer;
}

.btn-primary-fill:hover {
  background-color: var(--secondary);
  color: var(--gray30);
}

.btn-long {
  width: 300px;
}
