/* 눈누 web-font : pretendard */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* font-icon */
@font-face {
  font-family: 'devoca';
  src:  url('/assets/fonts/devoca.eot?');
  src:  url('/assets/fonts/devoca.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/devoca.ttf?') format('truetype'),
    url('/assets/fonts/devoca.woff?') format('woff'),
    url('/assets/fonts/devoca.svg?#devoca') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'devoca' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-camera .path1:before {
  content: "\e900";
  color: rgb(131, 142, 158);
}
.ic-camera .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ic-check:before {
  content: "\e902";
  color: #cdd2d8;
}
.ic-check-active:before {
  content: "\e903";
  color: #525050;
}
.ic-chevron:before {
  content: "\e904";
  color: #838e9e;
}
.ic-close:before {
  content: "\e905";
  color: #525050;
}
.ic-code:before {
  content: "\e906";
  color: #525050;
}
.ic-kakao:before {
  content: "\e907";
}
.ic-lock:before {
  content: "\e908";
  color: #838e9e;
}
.ic-lock-active:before {
  content: "\e909";
  color: #ffc759;
}
.ic-login-circle-active:before {
  content: "\e90a";
  color: #f9be28;
}
.ic-login-circle-default:before {
  content: "\e90b";
  color: #b7b7b7;
}
.ic-login-circle-wrong:before {
  content: "\e90c";
  color: #ff6464;
}
.ic-logout:before {
  content: "\e90d";
  color: #838e9e;
}
.ic-menu-dot:before {
  content: "\e90e";
  color: #525050;
}
.ic-note:before {
  content: "\e90f";
  color: #525050;
}
.ic-order:before {
  content: "\e910";
  color: #525050;
}
.ic-pencil:before {
  content: "\e911";
  color: #525050;
}
.ic-plus:before {
  content: "\e912";
  color: #525050;
}
.ic-profile:before {
  content: "\e913";
  color: #838e9e;
}
.ic-quiz:before {
  content: "\e914";
  color: #838e9e;
}
.ic-reset:before {
  content: "\e915";
  color: #525050;
}
.ic-search:before {
  content: "\e916";
  color: #cdd2d8;
}
.ic-shared:before {
  content: "\e917";
  color: #838e9e;
}
.ic-star:before {
  content: "\e918";
  color: #838e9e;
}
.ic-star-active:before {
  content: "\e919";
  color: #ffc759;
}
.ic-triangle-down:before {
  content: "\e91a";
  color: #525050;
}
.ic-warning:before {
  content: "\e91b";
  color: #ec131e;
}
.ic-word:before {
  content: "\e91c";
  color: #838e9e;
}
