:root {
  /* 사이즈 */
  --header-height: 60px;
  --nav-width: 60px;
  --nav-icon-size: 36px;
  --sidebar-width: 320px;

  /* 포인트 색상 */
  --primary: #ffc759; /* 1순위 */
  --secondary: #ffd27a; /* 2순위 */
  --tertiary: #ffdd9b; /* 3순위 */
  --red: #ff3939; /* 삭제, 탈퇴 등 강조 빨간색 */
  --quiz-wrong: #ffbebe; /* 퀴즈 오답 선택 시 */

  /* 폰트 컬러 */
  --dark: #525050; /* 대부분의 검은 글씨들 */
  --footer-color: #6a6a6a; /* 푸터에 쓰인 글씨들 */

  /* 메인_네비게이션 바 */
  --button-active: #475a80;

  /* 모달 뒷배경 */
  --modal-background: rgba(0, 0, 0, 0.5);

  /* 그레이 스케일 */
  /* 여러 곳에서 쓰이므로 따로 구분함 */
  --black: #000;
  --gray500: #838e9e;
  --gray300: #b4bbc5;
  --gray250: #e1e1e1;
  --gray200: #cdd2d8;
  --gray100: #e6e8ec;
  --gray50: #f5f6f7;
  --gray30: #fafafa;
  --google: #f3f3f3;
  --tag: #ececec;
  --white: #fff;

  /* border */
  --line: 1px solid #b4bbc5;

  /* 내부 검색창 */
  --voca-search: 1px solid #e1e1e1;

  /* 호버 */
  --line-hover: 1px solid #ffc759;
  --icon-hover: invert(40%) sepia(50%) saturate(500%) hue-rotate(345deg)
    brightness(150%) contrast(103%);

  /* 그림자 */
  --category-shadow: 0px 6px 12px 0px rgb(148, 163, 184, 0.15);
  --header-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.06);
  --side-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.15);
  --login-shadow: 2px 6px 12px 0px rgb(148, 163, 184, 0.35);
  --menu-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  --word-modal-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  --nav-inner-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2) inset;

  /* 푸터 */
  --footer: #f1f1f1;
  --footer-color: #6a6a6a;
}
