* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--gray30);
    font-family: 'Pretendard-Regular';
    
}

main {
    display: flex;
}

/* header 영역 */

header {
    box-shadow: var(--header-shadow);
    width: 100vw;
    height: 80px;
    display: flex;
    position: absolute;
    z-index: 4;
    
}

header > div:nth-child(1) { 
    flex-basis: 20%;
    margin-left: 80px;
    margin-top: 20px;
}

header > div:nth-child(2) { 
    flex-basis: 60%; 
}

header > div:nth-child(3) { 
    flex-basis: 20%; 
}


.reading-glasses {
    position: relative;
    left: 260px;
    bottom: 36px;
    height: 35px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}



.google-img {
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 5px;
}

.google-search {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 24px;
}


.google-search-img {
    width: 16px;
    height: 16px;
}

.google-search fieldset {
   width: 300px;
   height: 38px;
   border-radius: 80.18px;
   background-color: var(--google);
   border: 0;
}

#google-search-input {
    width: 240px;
    border: none;
    background-color: transparent;
    outline: 0;
    position: relative;
    top: 2px;
    left: 10px;
}


#google-search-input::placeholder {
    font-weight: 500;
    font-size: 14px;
    color: var(--gray200);
    width: 95px;
    height: 17px;
}

#google-search-input::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 14px;
    color: var(--gray200);
    width: 95px;
    height: 17px;
}
#google-search-input::-ms-input-placeholder {
    font-weight: 500;
    font-size: 14px;
    color: var(--gray200);
    width: 95px;
    height: 17px;
}

input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}
  
/* 몸통 */
.container {
    display: flex;
    position: absolute;
    height: 100vh;

}

/* nav 영역 */
nav {
    display: flex;
    flex-direction: column;
    width: 80px;
    margin-top: 80px;
    background-color: var(--gray100);
    z-index: 3;
    
}

nav > section:nth-child(1),
nav > section:nth-child(2) {
    display: flex;
    flex-direction: column;
}

nav > section:nth-child(1) {
    flex-basis: 90%;
}

nav > section:nth-child(2) {
    flex-basis: 10%;
    margin-bottom: 40px;
   
}

nav a {
    padding-top: 40px;
    text-align: center;
    

}

nav a:nth-child(1) {
   margin-top: 10px;
}



nav a:nth-child(1):hover, 
nav a:nth-child(2):hover, 
nav a:nth-child(3):hover, 
nav a:nth-child(4):hover, 
nav a:nth-child(5):hover {
    filter: var(--icon-hover);
  
}







.container-main {
    margin-top: 80px;
}


/* 모달창 */
.voca-menu-modal {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voca-menu-modalmodal .voca-menu-bgbg {
    width: 100%;
    height: 100%;
}

.voca-modalBox {
    position: absolute;
    background-color: #fff;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin-bottom: 80px;
    box-shadow: var(--header-shadow);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.voca-modalBox > div:nth-child(1) {
    padding: 14px;
}

.voca-modalBox > div:nth-child(1):hover {
    background-color: var(--gray200);
    cursor: pointer;
    border-radius: 15px 15px 0 0;
}

.voca-modalBox > div:nth-child(2) {
    padding: 14px;
}

.voca-modalBox > div:nth-child(2):hover {
    background-color: var(--gray200);
    cursor: pointer;
}

.voca-modalBox > div:nth-child(3) {
    padding: 14px;
}

.voca-modalBox > div:nth-child(3):hover {
    background-color: var(--gray200);
    cursor: pointer;
    border-radius: 0 0 15px 15px;
}


.hidden {
    display: none;
}

.voca-category-tag {
    border: 1px solid var(--primary);
    font-size: 10px;
    color: var(--primary);
    padding: 4px;
    border-radius: 5px;
}

.voca-category1 {
    display: flex;
    justify-content: space-between;
}

.voca-category2 {
    border-bottom: 1px solid var(--primary);
    width: 100%;
}

.voca-category2 > h1 {
   margin: 0;
   padding: 5px 0;
   font-size: 32px;
   color: var(--dark);
}

.voca-category3 {
    font-size: 16px;
    color: var(--gray500);
    padding: 15px 0;
    display: flex;
}

.voca-category4 {
    padding: 10px;
}

.voca-category5 {
    padding: 10px;
}

.voca-category6 {
    padding: 10px;
}

p {
    margin: 0;
}

.voca-content1 {
    width: 100%;
    background-color: var(--gray50);
    border-radius: 20px;
    padding: 10px;
}

.voca-content2 {
    width: 100%;
    background-color: var(--gray50);
    border-radius: 20px;
    padding: 15px;
}


 









   



