* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fafafa;
    font-family: 'Pretendard-Regular';
    
}

/* header 영역 */

header {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    width: 100vw;
    height: 80px;
    display: flex;
    position: absolute;
    z-index: 4;
    
}

header > div:nth-child(1) { 
    flex-basis: 20%;
    margin-left: 80px;
    margin-top: 20px;
}

header > div:nth-child(2) { 
    flex-basis: 40%; 
}

header > div:nth-child(3) { 
    flex-basis: 40%; 
   
}

.google-search {
    display: flex;
    border: 1px solid greenyellow;
}

.google-search a {
   
}

.google-search-img {
    width: 16px;
    height: 16px;
    
}

.google-search fieldset {
   width: 20vw;
   height: 38px;
   border-radius: 80.18px;
   background-color: #f3f3f3;
   border: 1px solid red;
   
}

#google-search-input {
    width: 15vw;
    border: none;
    background-color: transparent;
    outline: 0;
    position: relative;
    top: 2px;
    left: 8px;
}


#google-search-input::placeholder {
    font-weight: 600;
    font-size: 14px;
    color: #CDD2D8;
    width: 10vw;
    height: 17px;
}

#google-search-input::-webkit-input-placeholder {
    font-weight: 600;
    font-size: 14px;
    color: #CDD2D8;
    width: 10vw;
    height: 17px;
}
#google-search-input::-ms-input-placeholder {
    font-weight: 600;
    font-size: 14px;
    color: #CDD2D8;
    width: 10vw;
    height: 17px;
}

.btn-warning { 
    color: white;
    background-color: #FFc759;
}


  
/* 몸통 */
.container {
    display: flex;
    position: absolute;
    height: 100vh;
}

/* nav 영역 */
nav {
    display: flex;
    flex-direction: column;
    width: 80px;
    margin-top: 80px;
    background-color: #e6e8ec;
    z-index: 3;
}

nav > section:nth-child(1),
nav > section:nth-child(2) {
    display: flex;
    flex-direction: column;
}

nav > section:nth-child(1) {
    flex-basis: 90%;
}

nav > section:nth-child(2) {
    flex-basis: 10%;
    margin-bottom: 40px;
   
}

nav a {
    padding-top: 40px;
    text-align: center;
    

}

nav a:nth-child(1) {
   margin-top: 10px;
}


nav a:nth-child(1):hover, 
nav a:nth-child(2):hover, 
nav a:nth-child(3):hover, 
nav a:nth-child(4):hover, 
nav a:nth-child(5):hover {
    filter: invert(40%) sepia(50%) saturate(500%) hue-rotate(345deg) brightness(150%) contrast(103%);
}



aside {
    width: 370px;
    margin-top: 80px;
    background-color: #f5f6f7;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

/* 단어 서치바 영역 */
.aside-1 {
    flex-basis: 15%;
}

.voca-search-img {
    width: 15px;
    height: 15px;
    position: relative;
    top: 35px;
    left: 310px;
}

#voca-search-input {
    width: 310px;
    height: 50px;
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid #e1e1e1;
    outline: 0;
    position: relative;
    top: 33px;
    left: 8px;
}

#voca-search-input:focus {
    border: 1px solid #FFc759;
    
}

#voca-search-input::placeholder {
    position: relative;
    left: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #CDD2D8;
}

#voca-search-input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 600;
    color: #CDD2D8;
}

#voca-search-input::-ms-input-placeholder {
    font-size: 16px;
    font-weight: 600;
    color: #CDD2D8;
}

.line-1 {
    border-bottom: 1px solid #b4bbc5;
    width: 310px;
    height: 55px;
    margin: auto;
}



/* 카테고리 영역 */

.category-container {
    padding: 45px;
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    
}

h3 {
    font-size: 20px;
    font-weight: 800;
}

.category-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    width: 290px;
    height: 4px;
    align-items: center;
}

.category-header button {
   margin-bottom: 30px;
    
}

.category-container button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border-radius: 80%;
}

.category-btn:hover {
    background-color: #e1e1e1;
}

.category-container a {
    position: relative;
    top: 13px;
    left: 16px; 
    text-decoration: none;
    color: black;
    width: 220px;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
 }

 .category-container div:nth-child(2),
 .category-container div:nth-child(3),
 .category-container div:nth-child(4),
 .category-container div:nth-child(5) {
    display: flex;
    justify-content: space-between;
    
    height: 52px;
    margin-bottom: 35px;
    width: 284px;
    box-shadow: 0px 6px 12px rgba(148, 163, 184, 0.15);
    border-radius: 8px;
    
 }


.category-container button:nth-child(2),
.category-container button:nth-child(3),
.category-container button:nth-child(4),
.category-container button:nth-child(5) {
    
    position: relative;
    right: 16px;
    top: 15px;
}

.category-container > div:nth-child(2):hover, 
.category-container > div:nth-child(3):hover,
.category-container > div:nth-child(4):hover, 
.category-container > div:nth-child(5):hover {
    background-color: #FFc759;
}









/* 태그영역 */
.category-footer {
    display: flex;
    flex-direction: column;
   flex-basis: 15%;
}

.line-2 {
    border-bottom: 1px solid #b4bbc5;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.tag {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.tag button {
    cursor: pointer;
    width: 100px;
    height: 32px;
    border: none;
    border-radius: 8px;
    background-color: #ececec;
}

.tag button:hover {
    border: 2px solid #FFc759;
}




