.signUp {
    font-size: 16px;
    font-weight: 700;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--white);
    background-color: var(--primary);
}

.devoca-btn1 {
    font-size: 16px;
    font-weight: 700;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--primary);
    cursor: pointer;
    color: var(--primary);
    background-color: var(--white);
}

.devoca-btn2 {
    font-size: 16px;
    font-weight: 700;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--white);
    background-color: var(--primary);
}