.main-content-area {
  background-image: url(/assets/background-FAQ.jpg);
  background-size: cover;
}

.main-faq-container {
  width: 1000px;
  height: 100%;

  margin: auto;
}

.main-faq {
  width: 700px;
  height: 100%;

  margin: auto;
}

.main-faq-title {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.main-faq-title > h1 {
  font-size: 36px;
  font-weight: 800;
  color: var(--primary);
}

.main-faq-content {
  width: 700px;
  height: calc(100% - 93.61px);

  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
}

.faq-arrow-down {
  width: 20px;
  height: 20px;
  margin-right: 30px;
  transition: transform 0.2s ease-in-out;
}

.faq-question {
  width: 600px;
  height: 80px;

  display: flex;

  justify-content: space-between;
  align-items: center;

  font-size: 20px;
  font-weight: 600;
  text-indent: 30px;

  background-color: var(--white);

  transition: border-radius 0.6s ease;

  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  cursor: pointer;
}

.faq-answer {
  width: 600px;
  height: 100px;

  display: none;

  background-color: var(--white);

  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 10px 10px;

  margin: 0;
  padding: 30px;

  overflow: scroll;
}

.faq-question.selected {
  border-radius: 10px 10px 0 0;
  transition: border-radius 0.1s ease;
}
