body {
  background: url(/assets/background-circle.svg) no-repeat;
  background-size: contain;
  background-position: left bottom;
  background-color: var(--gray30);
}

.main-content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

/*TODO: 그림자값 조정 
흰색 박스 */
#login-box {
  width: 400px;
  height: 590px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 6px 20px rgba(148, 163, 184, 0.4);

  padding: 35px 40px;
  margin-right: 10%;
}

/* 제목 스타일 */
#title {
  font-size: 30px;
  color: var(--primary);
  text-align: center;
  margin: 20px 0;
}

/* 인풋창 */
input {
  width: 100%;
  border: none;
  font-size: 15px;
  text-indent: 10px;
  letter-spacing: 1px;
  padding-bottom: 3px;
  border-bottom: 1.5px solid var(--gray500);
  outline: none;

  font-family: "Pretendard-Regular";
}

input:focus {
  border-bottom: 1.5px solid var(--primary);
}

/* 체크박스 스타일 */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  padding-right: 5px;
}

input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1.5px solid var(--gray500);
  border-radius: 3px;
  vertical-align: middle;
}

input[type="checkbox"]:checked + label:before {
  content: "";
  background-color: var(--primary);
  border-color: var(--primary);
  background-image: url("/assets/checked.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

/* 자동로그인-비밀번호 찾기 */
#remember-searchPw {
  color: var(--gray500);
  font-size: 11;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 20px 0;
}

#remember-searchPw > a {
  font-size: 15px;
  color: var(--gray500);
  text-decoration: none;
}

.login-btn {
  font-size: 20px;
  font-style: bold;
  width: 100%;
  height: 45px;
  margin: 5px 0;
}
/*  - or - */
.or {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: var(--gray500);
  font-size: 13px;
  margin: 15px 0;
}

.or::before {
  content: "";
  flex-grow: 1;
  background: var(--gray500);
  height: 1.2px;
  font-size: 0px;
  line-height: 0px;
  margin-right: 16px;
}

.or::after {
  content: "";
  flex-grow: 1;
  background: var(--gray500);
  height: 1.2px;
  font-size: 0px;
  line-height: 0px;
  margin-left: 16px;
}

/* 카카오 로그인 */
.ic-kakao {
  font-size: 16px;
  margin-right: 12px;
}
#kakao {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;

  font-weight: bold;
  color: var(--dark);

  background-color: #fee500;
  cursor: pointer;

  margin-bottom: 15px;
}

#kakao:hover {
  background-color: #faeb62;
}

#kakao:active {
  background-color: #e5cf00;
}

/* 구글 로그인 */

#google {
  width: 100%;
  height: 40px;
  border: 1px solid var(--gray500);
  border-radius: 10px;
  font-weight: bold;
  color: #3d3d3d;
  text-align: center;
  background-color: white;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-bottom: 15px;
}

#google > img {
  width: 16px;
  height: 16px;
}
#google:hover {
  background-color: #f3f3f3;
}

#google:active {
  background-color: #eaeaea;
}

#google > img {
  margin-right: 24px;
}

#join {
  color: var(--primary);
  text-decoration: none;
}

#non-member {
  color: var(--gray500);
  margin: 20px 0;
}
