body {
  width: 100vw;

  margin: 0;
  padding: 0;

  background-color: var(--gray30);
}

/* 헤더 영역 */
header {
  width: 100%;
  height: var(--header-height);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;

  /* FIXME: 헤더 z-index issue */
  /* position: absolute;
  z-index: 4; */
  box-shadow: var(--header-shadow);
}

/* 로고 영역 */
/* TODO: 로고 좌 영역, 80px 좀 큰 것 같아서 임의로 40px로 조정 */
/* 필요 시 아래 값 조정 */
header > div:nth-child(1) {
  margin-left: 40px;
}

/* 공백 영역 */
header > div:nth-child(2) {
}

/* 헤더 우측 영역 */
header > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

/* 구글-검색창 */
/* TODO: margin-right == google-search 우측 영역이므로 필요시 수정 */
.google-search {
  height: 30px;
  margin-right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

/* input 입력 시 나타나는 남색 X 표시 없애기 */
input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.google-search fieldset {
  width: 300px;
  height: 30px;

  border: 0;
  border-radius: 80.18px;

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--google);
}

.google-img {
  width: 16px;
  height: 16px;
}

#google-search-input {
  width: 240px;
  margin-left: 8px;

  border: none;
  outline: 0;

  background-color: transparent;
}

/* placeholder 스타일 수정 설정 */
#google-search-input::placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray200);
  width: 95px;
  height: 16px;
}
#google-search-input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray200);
  width: 95px;
  height: 16px;
}
#google-search-input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray200);
  width: 95px;
  height: 16px;
}

.google-search-btn {
  height: 30px;

  border: none;
  background-color: transparent;

  cursor: pointer;

  position: absolute;
  right: 8px;
  top: 1px;
}

.google-search-img {
  width: 16px;
  height: 16px;
}

/* FAQ / 로그인 / 회원가입 */
.faq-login-signup > a {
  font-size: 16px;
  font-weight: 600;
  color: var(--black);

  text-decoration: none;
}

.faq-login-signup > a:nth-child(2) {
  padding: 0 16px;
}

.faq-login-signup > a:hover {
  text-decoration: underline;
}

.faq-login-signup button {
  border: none;
  cursor: pointer;
  width: 90px;
}

.faq-login-signup button:hover {
  background-color: var(--secondary);
  color: var(--gray30);
}

/* 바디 */
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* 네비게이션 바 & 사이드바 */
.nav-side-bar {
  height: 100vh;
  display: flex;

  /* header-height을 제외한 top 위치에서 fixed로 고정 */
  position: fixed;

  /* FIXME: 헤더 z-index issue position :Fixed 사용하기 */
  /* margin-top: var(--header-height); TODO: header에 가려지는 만큼 아래로 */
  /* top: var(--header-height); */
}

/* nav 영역 */
nav {
  width: var(--nav-width);
  height: calc(100% - var(--header-height));
  /* TODO: nav-sidebar 영역 헤더에 가려지지 않게 내리기 */
  margin-top: var(--header-height);

  display: flex;
  flex-direction: column;
  background-color: var(--gray100);
  /* FIXME: 헤더 z-index issue */
  /* z-index: 3; */

  /* TODO: nav 내부 간격을 각 section에서 주지 않고 nav에서 padding으로 처리*/
  padding-top: 30px;
}

/* nav 내부 레이아웃 */
nav > section:nth-child(1),
nav > section:nth-child(2) {
  display: flex;
  flex-direction: column;
}

nav > section:nth-child(1) {
  flex-basis: 90%;
}

nav > section:nth-child(2) {
  flex-basis: 10%;
  /* TODO: nav 내부 간격을 각 section에서 주지 않고 nav에서 padding으로 처리*/
  /* margin-bottom: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  /* TODO: nav 내부 간격을 각 section에서 주지 않고 nav에서 padding으로 처리*/
  /* padding-top: 40px; */
  text-align: center;
}

/* TODO: nav 아이콘 중 프로필 제외 margin-top으로 간격 설정 */
nav a:not(:first-child) {
  margin-top: 30px;
}

/* TODO: nav 내부 간격을 각 section에서 주지 않고 nav에서 padding으로 처리*/
/* nav a:nth-child(1) {
  margin-top: 10px;
} */

/* TODO: nav-bar 안에 a태그에 hover 적용 (작성을 좀 더 명확히 해야 하나?) */
nav a:hover {
  filter: var(--icon-hover);
}

/* nav-bar 내부 아이콘 크기 */
nav a img {
  width: var(--nav-icon-size);
  height: var(--nav-icon-size);
}

/* 단어 서치바 영역 */
.side-bar {
  /* TODO: nav-sidebar 영역 헤더에 가려지지 않게 내리기 */
  margin-top: var(--header-height);
  height: calc(100% - var(--header-height));
  /* FIXME: 사이드 바 내부 패딩 간격 설정 */
  padding: 30px;

  width: var(--sidebar-width);
  background-color: var(--gray50);
  box-shadow: var(--side-shadow);
  border-radius: 0px 0px 30px 0px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* FIXME: 헤더 z-index issue */
  /* z-index: 2; */
}

/* side-search 간격 */
.side-search {
  flex-basis: 15%;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* FIXME:FIXME:FIXME:FIXME: side-bar부터 마저 만지면 됨  */

.side-bar form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-search fieldset {
  width: 300px;
  height: 30px;

  border: 0;
  /* border-radius: 80.18px; */

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--google);
}

#voca-search-input {
  /* 검색창 크기 */
  width: 310px;
  height: 50px;
  border-radius: 12px;
  background-color: transparent;
  border: var(--voca-search);
  outline: 0;
  /* TODO: 불필요한 위치 조정 */
  /* position: relative;
  top: 33px;
  left: 30px; */
  /* 검색 input 시작점 */
  padding-left: 20px;

  position: relative;
}

#voca-search-input:focus {
  border: var(--line-hover);
  background-color: var(--gray30);
}
/* 검색창 placeholder 수정용 */
#voca-search-input::placeholder {
  /* position: relative; */
  /* left: 10px; */
  font-size: 16px;
  font-weight: 400;
  color: var(--gray200);
}

#voca-search-input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 600;
  color: var(--gray200);
}

#voca-search-input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 600;
  color: var(--gray200);
}

.side-search button {
  height: 50px;

  background-color: transparent;

  position: absolute;
  right: 10px;
  top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  cursor: pointer;
}

.voca-search-img {
  width: 16px;
  height: 16px;
}

.sidebar-line {
  border-bottom: var(-line);
  /* FIXME: 선 기준 상하 간격 */
  margin: 30px 0;
  /* width: 310px;
  height: 7vh;
  margin: auto; */
}

/* 카테고리 영역 */

.category-container {
  /* padding: 45px; */
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

h3 {
  font-size: 20px;
  font-weight: 800;
}

.category-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  width: 290px;
  height: 4px;
  align-items: center;
}

.category-header button {
  margin-bottom: 30px;
}

.category-container button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 24px;
  height: 24px;
  border-radius: 80%;
}

.category-btn:hover {
  background-color: var(--gray250);
}

.category-container a {
  position: relative;
  top: 13px;
  left: 16px;
  text-decoration: none;
  color: var(--black);
  width: 220px;
  height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.category-container div:nth-child(2),
.category-container div:nth-child(3),
.category-container div:nth-child(4),
.category-container div:nth-child(5) {
  display: flex;
  justify-content: space-between;

  height: 52px;
  margin-bottom: 35px;
  width: 284px;
  box-shadow: var(--category-shadow);
  border-radius: 8px;
}

.category-container button:nth-child(2),
.category-container button:nth-child(3),
.category-container button:nth-child(4),
.category-container button:nth-child(5) {
  position: relative;
  right: 16px;
  top: 15px;
}

.category-container > div:nth-child(2):hover,
.category-container > div:nth-child(3):hover,
.category-container > div:nth-child(4):hover,
.category-container > div:nth-child(5):hover {
  background-color: var(--primary);
}

/* 태그영역 */
.category-footer {
  display: flex;
  flex-direction: column;
  flex-basis: 15%;
}

.line-2 {
  border-bottom: var(--line);
  width: 310px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.tag {
  height: 100px;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.tag button {
  cursor: pointer;
  width: 100px;
  height: 32px;
  border: none;
  border-radius: 8px;
  background-color: var(--tag);
  margin: 0 0 8px 12px;
}

.tag button:hover {
  border: var(--line-hover);
}

/* 메인영역 */
.content {
  margin-top: var(--header-height);
  width: 100%;
  background-color: aquamarine;
}
