* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--gray30);
  font-family: "Pretendard-Regular";
}



/* 헤더 */
header {
  width: 100%;
  height: 70px;
  background-color: var(--gray30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--header-shadow);
  min-height: 80px;
  position: absolute;
  z-index: 3;
}

/* 로고 영역 */
/* TODO: 로고 좌 영역, 80px 좀 큰 것 같아서 임의로 40px로 조정 */
/* 필요 시 아래 값 조정 */
header > div:nth-child(1) {
  margin-left: 40px;
}

/* 공백 영역 */

/* 헤더 우측 영역 */
header > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

/* 구글-검색창 */
/* TODO: margin-right == google-search 우측 영역이므로 필요시 수정 */
.google-search {
  height: 30px;
  margin-right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

/* input 입력 시 나타나는 남색 X 표시 없애기 */
input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.google-search fieldset {
  width: 300px;
  height: 30px;

  border: 0;
  border-radius: 80.18px;

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--google);
}

.google-img {
  width: 16px;
  height: 16px;
}

#google-search-input {
  width: 240px;
  margin-left: 8px;

  border: none;
  outline: 0;

  background-color: transparent;
}

/* placeholder 스타일 수정 설정 */
#google-search-input::placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray200);
  width: 95px;
  height: 16px;
}
#google-search-input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray200);
  width: 95px;
  height: 16px;
}
#google-search-input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray200);
  width: 95px;
  height: 16px;
}

/* TODO: 클래스명 변경 reading-glasses -> google-search-btn */
.google-search-btn {
  height: 30px;

  border: none;
  background-color: transparent;

  cursor: pointer;

  position: absolute;
  right: 8px;
  top: 1px;
}

.google-search-img {
  width: 16px;
  height: 16px;
}

/* 몸통 */
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  
  z-index: 2;
}

/* nav 영역 */
nav {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 100vh;
  background-color: var(--gray100);
  min-width: 80px;
  z-index: 1;
}

nav > section:nth-child(1) {
  margin-top: 80px;
}

nav > section:nth-child(1),
nav > section:nth-child(2) {
  display: flex;
  flex-direction: column;
}

nav > section:nth-child(1) {
  flex-basis: 90%;
}

nav > section:nth-child(2) {
  flex-basis: 10%;
  margin-bottom: 40px;
}

nav a {
  padding-top: 40px;
  text-align: center;
}

nav a:nth-child(1) {
  margin-top: 10px;
}

nav a:nth-child(1):hover,
nav a:nth-child(2):hover,
nav a:nth-child(3):hover,
nav a:nth-child(4):hover,
nav a:nth-child(5):hover {
  filter: var(--icon-hover);
}

/* 메인화면 */



.quiz-result {
  width: 100vw;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 원형프로그레스바 */
.wrap {
  position: relative;
  bottom: 50px;
  right: 50px;
}
.progress {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #f5f6f7;
}
.progress div {
  position: absolute;
  left: 100px;
  top: 0px;
  display: none;
  width: 2px;
  height: 100px;
  background: var(--primary);
  transform-origin: 0px 100px;
  -webkit-transform-origin: 0px 100px;
  -moz-transform-origin: 0px 100px;
  -ms-transform-origin: 0px 100px;
}

.progress_value {
  transform: lotate(0deg);
  -webkit-transform: lotate(0deg);
  -moz-transform: lotate(0deg);
  -ms-transform: lotate(0deg);
}

.progress-result {
  position: absolute;
  z-index: 10;
  left: 10px;
  top: 10px;
  width: 180px;
  height: 180px;
  line-height: 140px;
  text-align: center;
  background: var(--secondary);
  border-radius: 50%;
  border: 20px solid var(--gray30);
  font-size: 32px;
  font-weight: bold;
  color: var(--dark);
}

/* 결과값 */
.result-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 50px;
  right: 120px;
}

.rotate-a {
  position: relative;
  top: 30px;
  left: 70px;
}

.rotate-a > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.result-value {
  padding-top: 80px;
}

.result-value > span {
  padding-left: 150px;
}

.result-line {
  border: var(--line);
  width: 1000px;
  position: relative;
  top: 30px;
  left: 100px;
}

.wrong-list {
  position: relative;
  top: 60px;
  left: 70px;
  font-size: 24px;
}
