/* 클래스명 추가 시 display : none 부여 */
.displayNone {
  display: none;
}

.invisible {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

body {
  width: 100vw;
  height: 100vh;

  margin: 0;

  background-color: var(--gray30);

  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  /* height: 100%; */
}

/* 헤더 영역 */
header {
  width: 100vw;
  height: var(--header-height);
  min-height: var(--header-height);

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: var(--header-height);
  min-height: var(--header-height);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--header-z-index);

  background-color: var(--gray30);
}

/* 헤더 그림자용 */
.header-shadow {
  width: 100vw;
  height: var(--header-height);
  min-height: var(--header-height);

  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--header-shadow-z-index);

  background-color: transparent;
  box-shadow: var(--header-shadow);

  pointer-events: none;
}

/* 로고 영역 */
/* TODO: 로고 좌 영역, 80px 좀 큰 것 같아서 임의로 40px로 조정 */
/* 필요 시 아래 값 조정 */
header > div:nth-child(1) {
  margin-left: 40px;
}

/* 공백 영역 */
header > div:nth-child(2) {
}

/* 헤더 우측 영역 */
header > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

/* 구글-검색창 */
/* TODO: margin-right == google-search 우측 영역이므로 필요시 수정 */
.google-search {
  height: 30px;
  margin-right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

/* input 입력 시 나타나는 남색 X 표시 없애기 */
input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.google-search fieldset {
  width: 300px;
  height: 30px;

  border: 0;
  border-radius: 80.18px;

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--google);
}

.google-img {
  width: 16px;
  height: 16px;
}

#google-search-input {
  width: 240px;
  margin-left: 8px;

  border: none;
  outline: 0;

  background-color: transparent;
}

/* placeholder 스타일 수정 설정 */
#google-search-input::placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray200);
  width: 95px;
  height: 16px;
}
#google-search-input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray200);
  width: 95px;
  height: 16px;
}
#google-search-input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray200);
  width: 95px;
  height: 16px;
}

.google-search-btn {
  height: 30px;

  border: none;
  background-color: transparent;

  cursor: pointer;

  position: absolute;
  right: 8px;
  top: 1px;
}

.google-search-img {
  width: 16px;
  height: 16px;
}

/* FAQ / 로그인 / 회원가입 */
.faq-login-signup > a {
  font-size: 16px;
  font-weight: 600;
  color: var(--black);

  text-decoration: none;
}

.faq-login-signup > a:nth-child(2) {
  padding: 0 16px;
}

.faq-login-signup > a:hover {
  color: var(--gray500);

  transition: all ease-in-out 0.2s;
}

.faq-login-signup button {
  border: none;
  cursor: pointer;
  width: 90px;
}

/* 바디 영역 */
.container {
  height: calc(100vh - var(--header-height));

  display: flex;

  position: fixed;
  margin-top: var(--header-height);
}

/* nav 영역 */
.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--nav-width);
  background-color: var(--gray100);
}

/* nav-bar 위 아이콘 4개 모음 */
.nav-bar > section:nth-child(1) {
  flex-basis: 90%;

  display: flex;
  flex-direction: column;
}

.nav-bar > section:nth-child(2) {
  flex-basis: 10%;
}

.nav-bar a {
  padding-top: 30px;
  text-align: center;
}

.nav-bar a:hover {
  filter: var(--icon-hover);
  transition: all ease-in-out 0.15s;
}

.nav-bar a img {
  width: var(--nav-icon-size);
  height: var(--nav-icon-size);
}

/* 메인화면 */

.content {
  margin-top: var(--header-height);
  margin-left: var(--nav-width);
  display: flex;
}

/* 퀴즈 */
.voca-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#quiz-pro {
  appearance: none;
  width: 800px;
}
#quiz-pro::-webkit-progress-bar {
  background: var(--gray100);
  border-radius: 10px;
}
#quiz-pro::-webkit-progress-value {
  border-radius: 10px;
  background: var(--primary);
}

/* ----------- */
.slide {
  /* layout */
  display: flex;
  flex-wrap: nowrap;
  /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
  overflow: hidden;

  /* position */
  /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
  position: relative;

  /* size */
  width: 100%;

  border: 1px solid red;
}
.slide_item {
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
  position: relative;
  left: 0px;

  /* size */
  width: 100%;
  height: 100%;
  /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
  flex-shrink: 0;

  /* transition */
  transition: left 0.15s;
}
.slide_button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position */
  position: absolute;
  /* 버튼이 중앙에 위치하게 하기위해 계산 */
  top: calc(50% - 16px);

  /* size */
  width: 32px;
  height: 32px;

  /* style */
  border-radius: 100%;
  cursor: pointer;
}

.slide_prev_button {
  left: 10px;
}
.slide_next_button {
  right: 10px;
}

/* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */

.slide_item:nth-child(2) {
  background-color: aqua;
}
.slide_item:nth-child(3) {
  background-color: blueviolet;
}
.slide_item:nth-child(4) {
  background-color: burlywood;
}
.slide_item:nth-child(5) {
  background-color: cornflowerblue;
}
