* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--gray30);
  font-family: "Pretendard-Regular";
}

main {
  display: flex;
}

/* header 영역 */

header {
  box-shadow: var(--header-shadow);
  width: 100vw;
  height: 80px;
  display: flex;
  position: absolute;
  background-color: var(--gray30);
  z-index: 4;
}

header > div:nth-child(1) {
  flex-basis: 20%;
  margin-left: 80px;
  margin-top: 20px;
}

header > div:nth-child(2) {
  flex-basis: 60%;
}

header > div:nth-child(3) {
  flex-basis: 20%;
}

.reading-glasses {
  position: relative;
  left: 260px;
  bottom: 36px;
  height: 35px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.google-img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 5px;
  left: 5px;
}

.google-search {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 24px;
}

.google-search-img {
  width: 16px;
  height: 16px;
}

.google-search fieldset {
  width: 300px;
  height: 38px;
  border-radius: 80.18px;
  background-color: var(--google);
  border: 0;
}

#google-search-input {
  width: 240px;
  border: none;
  background-color: transparent;
  outline: 0;
  position: relative;
  top: 2px;
  left: 10px;
}

#google-search-input::placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray200);
  width: 95px;
  height: 17px;
}

#google-search-input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray200);
  width: 95px;
  height: 17px;
}
#google-search-input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray200);
  width: 95px;
  height: 17px;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

/* 몸통 */
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* nav 영역 */
nav {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 100vh;
  background-color: var(--gray100);
  z-index: 3;
}

nav > section:nth-child(1),
nav > section:nth-child(2) {
  display: flex;
  flex-direction: column;
}

nav > section:nth-child(1) {
  margin-top: 80px;
  flex-basis: 90%;
}

nav > section:nth-child(2) {
  flex-basis: 10%;
  margin-bottom: 40px;
}

nav a {
  padding-top: 40px;
  text-align: center;
}

nav a:nth-child(1) {
  margin-top: 10px;
}

nav a:nth-child(1):hover,
nav a:nth-child(2):hover,
nav a:nth-child(3):hover,
nav a:nth-child(4):hover,
nav a:nth-child(5):hover {
  filter: var(--icon-hover);
}

/* 메인화면 */

.content {
  width: 100vw;
  margin-top: 80px;
  display: flex;
  position: absolute;
}

/* 퀴즈 */
.voca-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.quiz-progress-bar {
  position: relative;
  top: 80px;
}

#quiz-pro {
  appearance: none;
  width: 800px;
}
#quiz-pro::-webkit-progress-bar {
  background: var(--gray100);
  border-radius: 10px;
}
#quiz-pro::-webkit-progress-value {
  border-radius: 10px;
  background: var(--primary);
}

.quiz-title {
  position: relative;
  top: 100px;
}

.quiz-title > h3 {
  font-size: 24px;
  margin-top: 50px;
}

.quiz-line {
  position: relative;
  top: 120px;
  width: 700px;
  border-bottom: 1px solid var(--gray200);
  margin-bottom: 20px;
}

.quiz-four-menu {
  position: relative;
  top: 180px;
  display: flex;
  flex-direction: column;
}

.quiz-four-menu > div:nth-child(1),
.quiz-four-menu > div:nth-child(2),
.quiz-four-menu > div:nth-child(3),
.quiz-four-menu > div:nth-child(4) {
  width: 500px;
  height: 80px;
  border-radius: 30px;
  box-shadow: var(--category-shadow);
  padding: 30px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-four-menu > div:nth-child(1):hover,
.quiz-four-menu > div:nth-child(2):hover,
.quiz-four-menu > div:nth-child(3):hover,
.quiz-four-menu > div:nth-child(4):hover {
  border: 1px solid var(--primary);
}

.devoca-btn2 {
  position: relative;
  top: 300px;
}

.devoca-btn2:hover {
  background-color: var(--secondary);
}
