/* 뒷 배경 */
body {
  background: url(/assets/background-polygon.svg) no-repeat;
  background-position: center;
}

.main-content-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 로그인 박스 */
#join-box {
  width: 630px;
  height: 610px;
  background-color: white;
  border-radius: 30px;
  box-shadow: var(--login-shadow);
}

/* 제목 스타일 */
#title {
  color: var(--primary);
  text-align: center;
}

#input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 인풋창 */
input {
  width: 500px;
  height: 48px;
  border-radius: 10px;
  border: none;
  background-color: #f1f1f1;

  margin: 13px;
}

input:focus {
  width: 500px;
  height: 48px;
  outline: 2px solid var(--primary);
  border-radius: 10px;
  background-color: #f1f1f1;
}

/* 인풋창 들여쓰기 */
input[type="text"] {
  text-indent: 24px;
}
input[type="password"] {
  text-indent: 24px;
}

/* 인풋 상태 동그라미 */
.ic-login-circle-default {
  margin-left: 10px;
}

/*  - or - */
.or {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: var(--primary);
  font-size: 16px;
  margin: 0px 32px;
}

.or::before,
.or::after {
  content: "";
  flex-grow: 1;
  background: var(--primary);
  height: 1.5px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}

/* 확인 버튼 */
#btn-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 10px;
}

/* 가입 여부 */
#already-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 10px 10px 0px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#already-text {
  color: var(--gray500);
}

#login {
  margin-left: 20px;
  color: var(--primary);
  text-decoration: none;
}

#sns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 24px;
}

/* 카카오 회원가입 */
.ic-kakao {
  margin-right: 10px;
}
#kakao {
  width: 230px;
  height: 45px;
  border: none;
  border-radius: 10px;
  margin-right: 30px;
  font-weight: bold;
  color: #3d3d3d;

  background-color: #fee500;
  cursor: pointer;
}

#kakao:hover {
  background-color: #faeb62;
}

#kakao:active {
  background-color: #e5cf00;
}

/* 구글 회원가입 */

#google {
  width: 230px;
  height: 45px;
  border: 1px solid var(--gray500);
  border-radius: 10px;
  font-weight: bold;
  color: #3d3d3d;
  text-align: center;
  background-color: white;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#google > img {
  width: 16px;
  height: 16px;
}
#google:hover {
  background-color: #f3f3f3;
}

#google:active {
  background-color: #eaeaea;
}
