/* 배경 이미지 */
body {
  background: url("/assets/background-polygon.svg") no-repeat;
  background-position: center;
  background-size: 70%;
}

/* 회원가입 상자 */
#join-box {
  width: 650px;
  height: 600px;
  border-radius: 30px;
  border: none;
  background-color: white;
  box-shadow: var(--login-shadow);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 회원가입 색, 위치 지정 */
#title {
  color: var(--primary);

  position: relative;
  text-align: center;
}

/* 확인 */
#ok {
  position: relative;
  left: 270px;
  top: 16px;
  border: none;
  text-align: center;
}

#login {
  color: var(--primary);
  text-decoration: none;
}

/* or 선 */
#line {
  border: 1px solid var(--primary);
  width: 500px;
  position: relative;
  top: 26px;
}

#or {
  width: 100px;
  height: 45px;
  background-color: white;
  color: var(--primary);
  font-size: 16px;
  text-align: center;

  position: relative;
  left: 270px;
  top: 7px;
}

/* 카카오 버튼 */

#kakao {
  width: 250px;
  height: 45px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: #3d3d3d;

  background-color: #fee500;
  cursor: pointer;
}

#kakao:hover {
  background-color: #faeb62;
}

#kakao:active {
  background-color: #e5cf00;
}

/* 구글 버튼 */

#google {
  width: 250px;
  height: 45px;
  border: 1px solid var(--gray500);
  border-radius: 10px;
  font-weight: bold;
  color: #3d3d3d;
  text-align: center;
  background-color: white;
  cursor: pointer;
}

#google > img {
  width: 16px;
  height: 16px;
}
#google:hover {
  background-color: #f3f3f3;
}

#google:active {
  background-color: #eaeaea;
}

/* 인풋창 */
input {
  width: 539px;
  height: 48px;
  border-radius: 10px;
  border: none;
  background-color: #f1f1f1;
}

input:focus {
  width: 539px;
  height: 48px;
  outline: 2px solid var(--primary);
  border-radius: 10px;
  background-color: #f1f1f1;
}

/* 인풋창 옆 상태표시 동그라미 */
i {
  font-size: 16px;
  margin-right: 16px;
}

/* 인풋창 묶음 */
#join-us {
  position: relative;
  left: 30px;
  top: 10px;
}

/* 인풋창 들여쓰기 */
input[type="text"] {
  text-indent: 24px;
}
input[type="password"] {
  text-indent: 24px;
}

/* 이미 가입 */
#already {
  color: var(--gray500);
  position: relative;
  top: 16px;
  color: var(--gray500);
  text-align: center;
}

/* 간편가입 */
#sns {
  position: relative;
  left: 55px;
  top: 10px;
}
