/* 배경 이미지 */
body {
  background: url("/assets/background-polygon.svg") no-repeat;
  background-position: center;
  background-size: 70%;
}

/* 회원약관 상자 */
#ok-form {
  width: 450px;
  height: 620px;
  border-radius: 30px;
  background-color: white;
  box-shadow: var(--login-shadow);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 회원약관과 전체동의 노란 선과 사이즈 맞추기*/
#up {
  width: 400px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* 회원약관 색, 위치 지정 */
#title {
  color: var(--primary);

  position: relative;
  text-align: center;
}

/* 노란 선 */
#line {
  width: 400px;
  border: 1px solid var(--primary);
}

/* 약관 내용 스크롤 바 */
.ok-box::-webkit-scrollbar {
  width: 8px;
}
.ok-box::-webkit-scrollbar-track {
  background-color: transparent;
}
.ok-box::-webkit-scrollbar-thumb {
  background-color: var(--gray250);
  border-radius: 30px;
}

/* 이용약관 내용 스타일 */
.ok-box {
  width: 380px;
  height: 80px;
  border: 1px solid var(--gray500);
}

/* 제출 */
#ok {
  margin-bottom: 30px;
  width: 110px;
  height: 40px;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  color: var(--white);
}
#ok:hover {
  background-color: var(--secondary);
}

/* 취소 */
#no {
  margin-bottom: 30px;
  width: 110px;
  height: 40px;
  background-color: var(--gray500);
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  color: var(--white);
}

#no:hover {
  background-color: var(--gray250);
}

/* 체크박스 변경 (1차)
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 24px;
  background-repeat: no-repeat;
  background-image: url("/assets/images/checkbox1.svg");
}

input[type="checkbox"]:hover + label {
  background-image: url("/assets/images/checkbox2.svg");
}

input[type="checkbox"]:checked + label {
  background-image: url("/assets/images/checkbox3.svg");
}*/

/* 체크박스 */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  padding-right: 5px;
}

input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #000000;
  border-radius: 3px;
  vertical-align: middle;
}

input[type="checkbox"]:hover + label:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #f8cf66;
  background-color: #f8cf66;
  border-radius: 3px;
  vertical-align: middle;
}

/* label:before에 체크 된 상태 CSS */
input[type="checkbox"]:checked + label:before {
  content: "";
  background-color: var(--primary);
  border-color: var(--primary);
  background-image: url("/assets/checked.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

textarea {
  padding: 10px 5px 0 10px;
}
