/* 뒷 배경 */
body {
  background: url(/assets/background-polygon.svg) no-repeat;
  background-position: center;
}

.main-content-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 약관 동의 박스 */
#terms-form {
  width: 450px;
  height: 620px;
  background-color: white;
  border-radius: 30px;
  box-shadow: var(--login-shadow);

  padding: 20px 20px 20px 20px;
}

/* 제목 스타일 */
#title {
  color: var(--primary);
  text-align: center;
}

/* 라인 스타일 */
#line {
  border: 1px solid var(--primary);
  width: 400px;
}

/* 약관 내용 스크롤 바 */
.terms-box::-webkit-scrollbar {
  width: 8px;
}
.terms-box::-webkit-scrollbar-track {
  background-color: transparent;
}
.terms-box::-webkit-scrollbar-thumb {
  background-color: var(--gray250);
  border-radius: 30px;
}

/* 이용약관 내용 스타일 */
.terms-box {
  width: 380px;
  height: 80px;
  border: 1px solid var(--gray500);

  resize: none;
}

/* 이용약관 내용 포커스 없애고 크기고정 */
textarea {
  border: 1px solid var(--gray500);
  border-radius: 4px;
  padding: 10px;
  margin: 0 15px;
}
textarea:focus {
  outline: none;
}

/* 회원약관 박스와 간격 조정 */
input {
  margin-left: 15px;
}

/* 체크박스 스타일 */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  padding-right: 5px;
}

input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1.5px solid var(--gray500);
  border-radius: 3px;
  vertical-align: middle;
}

input[type="checkbox"]:checked + label:before {
  content: "";
  background-color: var(--primary);
  border-color: var(--primary);
  background-image: url("/assets/checked.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

/* 취소 버튼 */
#btn-reset {
  width: 100px;
  height: 35px;
  margin: 12px 20px;

  text-align: center;
  line-height: 35px;

  font-size: 16px;
  font-weight: 700;

  border: none;
  border-radius: 5px;

  color: var(--white);
  background-color: #858585;

  transition: all ease-in-out 0.15s;

  cursor: pointer;
}

#btn-reset:hover {
  background-color: var(--gray250);
}

/* 취소, 확인 버튼 간격 조정 */
.btn-primary-fill {
  margin: 12px 20px;
}
p {
  margin: 13px;
}

pre {
  display: flex;
  justify-content: center;
}
