/* 클래스명 추가 시 display : none 부여 */
.displayNone {
  display: none;
}

.invisible {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

body {
  width: 100vw;
  height: 100vh;

  margin: 0;

  background-color: var(--gray30);

  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  /* height: 100%; */
}

/* 헤더 영역 */
header {
  width: 100vw;
  height: var(--header-height);
  min-height: var(--header-height);

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: var(--header-height);
  min-height: var(--header-height);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--header-z-index);

  background-color: var(--gray30);
}

/* 헤더 그림자용 */
.header-shadow {
  width: 100vw;
  height: var(--header-height);
  min-height: var(--header-height);

  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--header-shadow-z-index);

  background-color: transparent;
  box-shadow: var(--header-shadow);

  pointer-events: none;
}

/* 로고 영역 */
/* TODO: 로고 좌 영역, 80px 좀 큰 것 같아서 임의로 40px로 조정 */
/* 필요 시 아래 값 조정 */
header > div:nth-child(1) {
  margin-left: 40px;
}

/* 공백 영역 */
header > div:nth-child(2) {
}

/* 헤더 우측 영역 */
header > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

/* 구글-검색창 */
/* TODO: margin-right == google-search 우측 영역이므로 필요시 수정 */
.google-search {
  height: 30px;
  margin-right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

/* input 입력 시 나타나는 남색 X 표시 없애기 */
input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.google-search fieldset {
  width: 300px;
  height: 30px;

  border: 0;
  border-radius: 80.18px;

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--google);
}

.google-img {
  width: 16px;
  height: 16px;
}

#google-search-input {
  width: 240px;
  margin-left: 8px;

  border: none;
  outline: 0;

  background-color: transparent;
}

/* placeholder 스타일 수정 설정 */
#google-search-input::placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray200);
  width: 95px;
  height: 16px;
}
#google-search-input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray200);
  width: 95px;
  height: 16px;
}
#google-search-input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray200);
  width: 95px;
  height: 16px;
}

.google-search-btn {
  height: 30px;

  border: none;
  background-color: transparent;

  cursor: pointer;

  position: absolute;
  right: 8px;
  top: 1px;
}

.google-search-img {
  width: 16px;
  height: 16px;
}

/* FAQ / 로그인 / 회원가입 */
.faq-login-signup > a {
  font-size: 16px;
  font-weight: 600;
  color: var(--black);

  text-decoration: none;
}

.faq-login-signup > a:nth-child(2) {
  padding: 0 16px;
}

.faq-login-signup > a:hover {
  color: var(--gray500);

  transition: all ease-in-out 0.2s;
}

.faq-login-signup button {
  border: none;
  cursor: pointer;
  width: 90px;
}

/* 바디 영역 */
.container {
  height: calc(100vh - var(--header-height));

  display: flex;

  position: fixed;
  margin-top: var(--header-height);
}

/* nav 영역 */
.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--nav-width);
  background-color: var(--gray100);
}

/* nav-bar 위 아이콘 4개 모음 */
.nav-bar > section:nth-child(1) {
  flex-basis: 90%;

  display: flex;
  flex-direction: column;
}

.nav-bar > section:nth-child(2) {
  flex-basis: 10%;
}

.nav-bar a {
  padding-top: 30px;
  text-align: center;
}

.nav-bar a:hover {
  filter: var(--icon-hover);
  transition: all ease-in-out 0.15s;
}

.nav-bar a img {
  width: var(--nav-icon-size);
  height: var(--nav-icon-size);
}

/* FIXME: 서치바 */
/* 단어 서치바 영역 */
.side-bar {
  width: var(--sidebar-width);

  border-radius: 0px 0px 30px 0px;

  padding: 30px 30px;

  display: flex;
  flex-direction: column;

  background-color: var(--gray50);
  box-shadow: var(--side-shadow);
}

/* 사이드바 검색창 영역 */
.sidebar-search-area {
  flex-basis: 10vh;
}

.sidebar-search {
  position: relative;
}

/* 사이드바 검색 인풋 사이즈 조절 */
#voca-search-input {
  width: 100%;
  height: 36px;

  border: var(--voca-search);
  border-radius: 18px;

  padding-left: 20px;

  outline: 0;
  background-color: transparent;
}

#voca-search-input:focus {
  border: var(--line-hover);
  background-color: var(--gray30);
}

/* input place 홀더 속성 값 조절 */
#voca-search-input::placeholder {
  color: var(--gray300);
  /* font-size: 16px; */
  /* font-weight: 600; */
}
#voca-search-input::-webkit-input-placeholder {
  color: var(--gray300);
  /* font-size: 16px;
  font-weight: 600; */
}
#voca-search-input::-ms-input-placeholder {
  color: var(--gray300);
  /* font-size: 16px;
  font-weight: 600; */
}

.sidebar-search-area button {
  border: none;

  padding: 0;

  cursor: pointer;

  /* 돋보기 아이콘 : input height 조절 시 여기도 값 조정 */
  position: absolute;
  top: 10px;
  right: 16px;

  background-color: transparent;
}

.voca-search-img {
  width: 16px;
  height: 16px;
}

.line {
  border-bottom: var(--line);
  margin: 30px 0 10px 0;
}

/* 카테고리 영역 */
/* 카테고리 헤더 영역 */
.category-container {
  height: 0;
  display: flex;
  flex-direction: column;
  flex-basis: 65vh;
  position: relative;
}

.category-header {
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-header h3 {
  margin: 0;
  padding-left: 4px;
}

.category-container button {
  width: 24px;
  height: 24px;

  border: none;
  border-radius: 80%;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
}

#category-btn:hover {
  background-color: var(--gray250);
  transition: all ease-in-out 0.2s;
}

/* 카테고리 메뉴 (추가/편집) */

#category-menu-wrapper {
  position: absolute;
  top: 25px;
  right: 63px;

  transition: all ease-in-out 0.2s;
}
#category-menu-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: var(--modal-background-z-index);
}

.category-menu-content {
  width: 100px;

  position: absolute;
  z-index: var(--modal-z-index);

  border-radius: 15px;

  background: #fff;
  border: none;
  box-shadow: var(--header-shadow);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.category-add,
.category-edit {
  padding: 12px;
}

.category-add:hover,
.category-edit:hover {
  background-color: var(--gray200);
  cursor: pointer;

  transition: all ease-in-out 0.2s;
}

.category-add {
  border-bottom: 1px solid var(--gray100);
}

.category-add:hover {
  border-radius: 15px 15px 0 0;
}

.category-edit {
  color: red;
}

.category-edit:hover {
  border-radius: 0 0 15px 15px;
}

/* 카테고리 리스트 영역 */
.category-list {
  overflow: auto;
  height: 55vh;
}

/* 스크롤바 스타일*/
.category-list::-webkit-scrollbar {
  width: 8px;
}
.category-list::-webkit-scrollbar-track {
  background-color: transparent;
}
.category-list::-webkit-scrollbar-thumb {
  background-color: var(--gray250);
  border-radius: 30px;
  background-color: transparent;
}

.category-list > ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.category-list li {
  padding: 12px 8px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  box-shadow: var(--category-shadow);
}

.category-list li:hover {
  background-color: var(--primary);
  transition: all ease-in-out 0.2s;
}

.category-list a {
  width: 220px;

  padding-left: 10px;

  font-size: 16px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

/* TODO: 카테고리 편집/삭제를 눌렀을 때만 display 표시 */
.category-list button {
  transition: all ease-in-out 0.2s;
}

.category-list i {
  font-size: 8px;
  color: var(--dark);
}

.category-list i:hover {
  color: var(--red);
  font-weight: bold;
  transition: all ease-in-out 0.2s;
}

/* 태그영역 */
.category-footer {
  display: flex;
  flex-direction: column;
  flex-basis: 15vh;

  overflow-x: auto;
  overflow-y: hidden;
}

/* 스크롤바 스타일*/
.category-footer::-webkit-scrollbar {
  height: 8px;
  /* width: 4px; */
}
.category-footer::-webkit-scrollbar-track {
  background-color: transparent;
}
.category-footer::-webkit-scrollbar-thumb {
  background-color: var(--gray250);
  border-radius: 30px;
}

.tag-area {
  /* height: 100px; */

  display: inline-block;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
}

.tag {
  height: 32px;

  padding: 4px 20px;
  margin: 0 8px 8px 0;

  border: 1px solid var(--tag);
  border-radius: 8px;

  cursor: pointer;

  background-color: var(--tag);
}

.tag a {
  text-decoration: none;
  color: var(--black);
}

.tag:hover {
  /* border: var(--line-hover); */
  background-color: var(--tertiary);

  transition: all ease-in-out 0.2s;
}

/* 메인 콘텐츠 영역 */

.main-content-area {
  width: calc(100% - ((var(--sidebar-width) + var(--nav-width))));
  height: 100%;

  margin-top: var(--header-height);
  margin-left: calc((var(--sidebar-width) + var(--nav-width)));

  background-color: var(--gray30);
}

.content-main {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px 15px 80px;
}

.content-main-line {
  border-bottom: var(--line);
}

.content-main h2 {
  margin: 0;
  margin-top: 30px;
  color: var(--dark);
}

.content-main-imgs img {
  width: 25px;
  height: 25px;
}

.content-main-btn1 {
  margin-top: 25px;
  border-radius: 80%;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.content-main-btn1:hover {
  background-color: var(--gray50);
}

.content-main-btn2 {
  border-radius: 80%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.content-main-btn2:hover {
  background-color: var(--gray50);
}

.content-main-line {
  margin: 10px 80px;
}

.content-main-add-line {
  border: 1px solid var(--gray100);
}

.content-main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 80px 15px 80px;
}

.content-main-add-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.content-main-text-flex {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.content-main-text button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* 모달창 */
.modal {
  position: fixed;
  top: 60px;
  left: 380px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addModal {
  position: fixed;
  top: 60px;
  left: 380px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addModal .addBg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
  display: none;
}

.voca-modalBox {
  position: absolute;
  background-color: #fff;
  width: 50vw;
  height: 60vh;
  padding: 60px;
  border-radius: 15px;
  margin-right: 300px;
  overflow: auto;
}

.voca-modify {
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: var(--gray200);
  font-weight: 700;
  cursor: pointer;
}

.voca-delete {
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: var(--red);
  font-weight: 700;
}

.voca-category-tag {
  border: 1px solid var(--primary);
  font-size: 10px;
  color: var(--primary);
  padding: 4px;
  border-radius: 5px;
}

.voca-category1 {
  display: flex;
  justify-content: space-between;
}

.voca-category2 {
  border-bottom: 1px solid var(--primary);
  width: 100%;
}

.voca-category2 > h1 {
  margin: 0;
  padding: 5px 0;
  font-size: 32px;
  color: var(--dark);
}

.voca-category3 {
  font-size: 16px;
  color: var(--gray500);
  padding: 15px 0;
  display: flex;
}

.voca-category4 {
  padding: 10px;
}

.voca-category5 {
  padding: 10px;
}

.voca-category6 {
  padding: 10px;
}

p {
  margin: 0;
}

.voca-content1 {
  width: 100%;
  background-color: var(--gray50);
  border-radius: 20px;
  padding: 10px;
}

.voca-content2 {
  width: 100%;
  background-color: var(--gray50);
  border-radius: 20px;
  padding: 15px;
}

.voca-category2 > input {
  margin-top: 10px;
  border: none;
  outline: none;
  font-size: 32px;
  font-weight: 700;
}

.voca-category3 > input {
  margin-top: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

.voca-content1 > input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

#voca-memo {
  width: 100%;
  padding-bottom: 100px;
  border: none;
  outline: none;
  background-color: transparent;
}

.voca-modal-btn {
  text-align: center;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.btn-save {
  border: none;
  margin-left: 80px;
  width: 100px;
  height: 35px;

  font-size: 16px;
  font-weight: 700;

  border-radius: 5px;

  color: var(--white);
  background-color: var(--primary);

  cursor: pointer;
}

/* 단어장 즐겨찾기 및 순서 정렬 메뉴 */
textarea {
  resize: none;
}

.voca-menu-modal {
  position: fixed;
  top: 60px;
  left: 380px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voca-menu-modal .voca-menu-bg {
  width: 100%;
  height: 100%;
}

.voca-menu-modalBox {
  position: absolute;
  right: 440px;
  top: 80px;
  background-color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  margin-bottom: 80px;
  box-shadow: var(--header-shadow);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.voca-menu-modalBox > div:nth-child(1) {
  flex-basis: 34%;
  padding: 14px;
  border-bottom: 1px solid var(--gray100);
}

.voca-menu-modalBox > div:nth-child(1):hover {
  background-color: var(--gray200);
  cursor: pointer;
  border-radius: 15px 15px 0 0;
}

.voca-menu-modalBox > div:nth-child(2) {
  flex-basis: 33%;
  padding: 14px;
}

.voca-menu-modalBox > div:nth-child(2):hover {
  background-color: var(--gray200);
  cursor: pointer;
}

.voca-menu-modalBox > div:nth-child(3) {
  flex-basis: 34%;
  border-top: 1px solid var(--gray100);
  padding: 14px;
}

.voca-menu-modalBox > div:nth-child(3):hover {
  background-color: var(--gray200);
  cursor: pointer;
  border-radius: 0 0 15px 15px;
}

.menu-hidden {
  display: none;
}

/* 태그부분 */
.tagify {
  --tags-disabled-bg: #f1f1f1;
  --tags-border-color: none !important;
  --tags-hover-border-color: var(--gray50) !important;
  --tags-focus-border-color: none !important;
  --tag-border-radius: 3px;
  --tag-bg: var(--gray50) !important;
  --tag-hover: var(--tertiary) !important;
  --tag-text-color: var(--dark) !important;
  --tag-text-color--edit: var(--dark) !important;
  --tag-pad: 0.3em 0.5em;
  --tag-inset-shadow-size: 1.1em;
  --tag-invalid-color: #ffcdd2 !important;
  --tag-invalid-bg: #ffcdd2 !important;
  --tag-remove-bg: #ffcdd2 !important;
  --tag-remove-btn-color: black;
  --tag-remove-btn-bg: none;
  --tag-remove-btn-bg--hover: var(--red) !important;
  --input-color: inherit;
  --tag--min-width: 1ch;
  --tag--max-width: auto;
  --tag-hide-transition: 0.3s;
  --placeholder-color: rgba(0, 0, 0, 0.4);
  --placeholder-color-focus: rgba(0, 0, 0, 0.25);
  --loader-size: 0.8em;
  --readonly-striped: 1;
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap;
  line-height: 0;
  cursor: text;
  position: relative;
  box-sizing: border-box;
  border: 1px solid var(--tags-border-color);
  padding: 0px;
  outline: 0px;
  transition: all 0.1s ease 0s;
}
